@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: #212121;
}

/* NAVBAR STAART -------------------------------> */

.logo > img{
    width: 30%;
    padding-top: 10px;
    padding-left: 50px;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    margin-right: 90px;
}
li{
    color: white;
    list-style: none;
    padding: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}
li:hover{
    color: #14d2d4;  
}
.btn-1{
    background-color: #00ffb9;
    font-family: 'Poppins';
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    width:180px;
    height: 55px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50px;
    transition: transform .2s;
}
.btn-1:hover{
    transform: scale(1.1);
}

/* NAVBAR END -------------------------------> */

/* SECTION 2 START -------------------------->*/

#sec-2{
    display: flex;
    justify-content: space-evenly;
}
.d-1{
    width: 400px;
    margin-top: 100px;
}
h3{
    color: #acacac;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
h1{
    color:white;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
h2{
    color:#00FFB9;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
p{
    color:#acacac;
    font-family: 'Poppins';
    font-weight:300;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn-2{
    background-color: #00ffb9;
    font-family: 'Poppins';
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    width:180px;
    height: 50px;
    border-radius: 50px;
    transition: transform .2s;
}
.btn-2:hover{
    transform: scale(1.1);
}
.gif > img{
    margin-top: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    cursor: pointer;
}

